#cabeceraCuatrimoto {
    width: 100%;
    height: 150px;
    background-color: #33309B;
}

#cabeceraCuatrimoto>div {
    width: 800px;
    margin-left: 50px;
    padding-top: 35px;
}

#cabeceraCuatrimoto h1 {
    font: bold 50px "Lucida Handwriting", cursive;
    color: #ffffff;
}

main {
    width: 100%;
}

main>div {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
}

#formularioCuatrimoto label {
    float: left;
    width: 25%;
    font: 25px Arial, Helvetica, sans-serif;
    margin-right: 0px;
}

.input1 {
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    transition: all .5s;
    cursor: text;
    padding: 10px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    border: 1px solid #000000;
}

.input2 {
    color: #ffffff;
    background-color: #33309B;
    font: 25px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#formularioCuatrimoto form {
    display: inline-block;
}

#formularioCuatrimoto select {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    transition: all .5s;
    cursor: text;
    padding: 10px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    border: 1px solid #000000;
}

#formularioCuatrimoto button {
    color: #ffffff;
    font: 25px Arial, Helvetica, sans-serif;
    background-color: #33309B;
    margin: 20px;
    cursor: pointer;
}

#seccionImagenCuatrimoto {
    float: right;
    width: 30%;
}


#imagenCuatrimoto{
    width: 300px;
    height: 300px;
    
}
#formularioCuatrimoto{
    width: 45%;
}
section{
    display: inline;
}