#cabeceraReporte {
    width: 100%;
    height: 150px;
    background-color: #ce5505;
}

#cabeceraReporte>div {
    width: 800px;
    margin-left: 50px;
    padding-top: 35px;
}

#cabeceraReporte h1 {
    font: bold 50px "Lucida Handwriting", cursive;
    color: #ffffff;
}

main {
    width: 100%;
}

main>div {
    margin-top: 50px;
    margin-left: 50px;
}

#formularioReporte label {
    float: left;
    width: 25%;
    font: 25px Arial, Helvetica, sans-serif;
    margin-right: 0px;
}

.input1 {
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    transition: all .5s;
    cursor: text;
    padding: 10px 40px !important;
    width: fit-content;
    text-align: center;
    border: 1px solid #000000;
}

.input2 {
    color: #ffffff;
    background-color: #ce5505;
    font: 25px Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 200px 20px 20px 0px;
    width: 200px;
    height: 90px;
    text-align: center;
}

#formularioReporte form {
    display: inline-block;
}

#formularioReporte select {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    transition: all .5s;
    cursor: text;
    padding: 10px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    border: 1px solid #000000;
}

#formularioReporte button {
    color: #ffffff;
    font: 25px Arial, Helvetica, sans-serif;
    background-color: #ce5505;
    margin: 20px 20px 20px 0px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    
}

#seccionImagen {
    float: right;
    width: 40%;
    padding-right: 2%;
}

#imagenReserva {
    width: 90%;
}
#divmayor{
    margin-top: 20px;
}
#div3{
    margin-bottom: 200px;
}
.p {
    font: 25px Arial, Helvetica, sans-serif;
}