#cabeceraMensaje {
    width: 100%;
    height: 150px;
    background-color: #bace05;
}

#cabeceraMensaje>div {
    width: 800px;
    margin-left: 50px;
    padding-top: 35px;
}

#cabeceraMensaje h1 {
    font: bold 50px "Lucida Handwriting", cursive;
    color: #ffffff;
}

main {
    width: 100%;
}

main>div {
    margin-top: 50px;
    margin-left: 50px;
}

#formularioMensaje label {
    float: left;
    width: 25%;
    font: 25px Arial, Helvetica, sans-serif;
    margin-right: 0px;
}

.input1 {
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    transition: all .5s;
    cursor: text;
    padding: 10px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    border: 1px solid #000000;
}

.input2 {
    color: #ffffff;
    background-color: #bace05;
    font: 25px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#formularioMensaje form {
    display: inline-block;
}

#formularioMensaje select {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    transition: all .5s;
    cursor: text;
    padding: 10px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    border: 1px solid #000000;
}

#formularioMensaje button {
    color: #ffffff;
    font: 25px Arial, Helvetica, sans-serif;
    background-color: #bace05;
    margin: 20px;
    cursor: pointer;
}

#seccionImagen {
    float: right;
    width: 40%;
    padding-right: 2%;
}

#imagenReserva {
    width: 90%;
}