h2{
    background-color: #1976D2;
    text-align: center;
}
div{
    text-align: center;
    margin-right: 80px;
}
#img1{
    
    width:120px; 
    height:120px;
    
}
#img2{
    width: 110px;
    height: 110px;
    
}
#img3{
    width:130px;
    height:130px;
    
}
#img4{
    width:110px;
    height:110px;
   
}
#img5{
    width:120px; 
    height:120px;
    
}
#img6{
    width: 140px;
    height: 140px;
   
}
.table1 {
    position: relative;
    z-index: 1;
}
.table2 {
    position: relative;
    z-index: 2;
}